:root {
    --White: hsl(0, 0%, 100%);
    --Blue950: hsl(256, 26%, 20%);
    --Blue500: hsl(216, 30%, 68%);
    --Gray950: hsl(270, 9%, 17%);
    --Gray700: hsl(273, 4%, 51%);
    --Gray50: hsl(0, 0%, 98%);
    --DMDisplay: "font-family: "DM Serif Display", serif";
}

body {
    font-family: var(--DMDisplay), serif;
    font-weight: 400;
    max-width: 1440px;
    margin: auto;
}

h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 1.0;
}

h2 {
    font-size: 64px;
    font-weight: 600;
    line-height: 1.0;
}

.navbar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    background-color: var(--Gray50);
}

.logo {
    width: 30%;
}

.menu-items {
    display: flex;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 32px;
    padding: 0 32px 0 0;
    margin: 0;
    align-items: center;
}

.nav-link a {
    text-decoration: none;
    color: var(--Gray700);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

.menu-btn button {
    padding: 12px 32px;
    border: solid 1px var(--Gray700);
    background-color: var(--Gray50);
    text-transform: uppercase;
    font-size: 12px;
}

.introduction-container {
    background-color: var(--Blue950);
    color: var(--White);
}

.introduction {
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    gap: 32px;
}

.white-line {
    width: 30%;
    height: 1px;
    background-color: var(--White);
}

.gray-line {
    width: 30%;
    height: 1px;
    background-color: var(--Gray50);
}

.left-side {
    width: 50%;
}

.right-side {
    width: 50%;
    position: relative;
    bottom: -100px;
}

.introduction-right-pattern {
    position: relative;
}

.introduction-right-pattern img {
    position: absolute;
    right: 0;
    bottom: 144px;
}